.header {
  width: 100vw;
  display: flex;
  background: linear-gradient(#000, transparent);
}

.linkContainer {
  width: 25%;
  min-width: 350px;
  display: flex;
  justify-content: space-between;
  padding: 3em 0 3em 6em;
  font-size: 1.2rem;
}

@media (max-width: 720px) {
  .header {
    display: none;
  }
}
