.container {
  padding-left: 4rem;
  padding-right: 4rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (max-width: 820px) {
  .container {
    justify-content: center;
  }
}
