:root {
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --primary-green: #33f968;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  caret-color: transparent;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

html {
  font-size: 17px;
}

body {
  background-color: black;
  color: white;
}

body.menu-open {
  overflow-y: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1,
h2 {
  font-size: 5.9rem;
}

@media (max-width: 1180px) {
  html {
    font-size: 15px;
  }
}

@media (max-width: 950px) {
  html {
    font-size: 13px;
  }
}

@media (max-width: 800px) {
  html {
    font-size: 11px;
  }
}
